#css, #webgl {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
}

#css {
    --c1: #122538;
    --c2: #112233;
    background: repeating-linear-gradient(
        -45deg,
        var(--c1),
        var(--c1) 20px,
        var(--c2) 20px,
        var(--c2) 40px
    );
}

#webgl {
    pointer-events: none;
}

#game {
    float: left;
    width: 100%;
    position: relative;
}

#screen {
    position: relative;
}

.transparent {
    filter: alpha(opacity=90);
    z-index: 100;
}

#hud {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
}

#controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 250px;
}

.workflowData {
    height: 70%;
    overflow-y: auto;
}

.hudData {
    text-align: left;
    overflow-wrap: break-word;
    color: white;
}